<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:doctrine="http://symfony.com/schema/dic/doctrine">

    <services>
        <service id="spolischook.mini_shop.order_subscriber" class="Spolischook\MiniShopBundle\EventListener\OrderSubscriber">
            <argument type="string">%secret%</argument>
            <tag name="doctrine.event_subscriber" connection="default" />
        </service>

        <service id="spolischook.mini_shop.product_transfer_subscriber" class="Spolischook\MiniShopBundle\EventListener\ProductTransferSubscriber">
            <tag name="doctrine.event_subscriber" connection="default" />
        </service>

        <service id="spolischook.mini_shop.product_sale_subscriber" class="Spolischook\MiniShopBundle\EventListener\ProductSaleSubscriber">
            <tag name="doctrine.event_subscriber" connection="default" />
        </service>

        <service id="spolischook.mini_shop.money_transfer_subscriber" class="Spolischook\MiniShopBundle\EventListener\MoneyTransferSubscriber">
            <tag name="doctrine.event_subscriber" connection="default" />
        </service>

        <service id="spolischook.mini_shop.shop_extension" class="Spolischook\MiniShopBundle\Twig\ShopExtension">
            <tag name="twig.extension" />
            <argument type="service" id="router" />
        </service>
    </services>
</container>
